@media #{$small-up} {
    .node-type-country {
        aside ul li ul {display: none;}
    }
    
    .node-type-country {
        .intro-text p {
            font-family: $body-font-family-bold;
            margin-bottom: 1rem;
        }    
        
        .group-coordinator-officer, .group-representative {
            background: #ccc;
            display: block;
            width: 100%;
            padding: 25px 22px;
            border-bottom: 1px solid #fff;
            
            a {color: $body-font-color;}
            
            .data {
                display: inline-block;
                width: 50%;
                line-height: 1.6;
            }
            
            .label-above {
                font-family: $rounded-font-700;
                font-size: 1.5rem;
                margin-bottom: .75rem;              
            }   
            
            .field-name-field-country-user-name {
                font-family: $body-font-family-bold;
                line-height: 1.6;
            }    
                
            .field-name-field-country-user-email {font-size: .9rem;}
            
            ul {margin-left: 0;}
            li {
                list-style: none;
                margin: 0; 
                padding: 0;
                
                h3 {
                    position: relative;
                    left: -2rem;
                    background: transparent url(../images/icons/icon-country-region.png) left center no-repeat;   
                    font-family: $rounded-font-700;
                    font-size: 1.3rem;
                    margin-bottom: .5rem;
                    padding: .5rem 0 .5rem 2rem;          
                }  
                
                .views-row {
                    margin-bottom: 1.5rem;
                    .field-name-field-repres-person {
                        font-family: $body-font-family-bold;
                    }
                }
            
            } // ./li
        } // ./ group-coordinator-officer / group-representative
        
        .block-views-countries-number-projects {
            text-align: center;
            .view-header {
                position: relative;
                top: 30px;
            }
            .views-row {
                width: 33%;
                float: left;
                .project-per-year {
                    width: 100%;
                    display: block;
                    text-align: center;
                    position: relative;
                    height: 260px;
                    .number h2 {
                        color: #fff;
                        position: absolute;
                        bottom: 60px;
                        display: inline-block;
                        width: 140px;
                        z-index: 10;
                        margin-left: -60px;
                        font-size: 75px;
                    }
                    .bar {
                        max-height: 140px; 
                        width: 140px; 
                        background: $primary-color; 
                        display: inline-block;
                        position: absolute;
                        bottom: 75px;
                        margin-left: -60px;
                    }
                    .year {
                        font-family: $rounded-font-100;
                        color: #000;
                        position: absolute;
                        bottom: 30px;
                        display: inline-block;
                        margin-left: -20px;
                        font-size: 28px;
                    }
                }
            }
        }
        
        
    } // ./ node-type-country    
    
} // ./ small-up