.pum-list-view {
    .views-field {
        display:block;
        padding: 3px 0;
        
        strong {
            margin-top: 1rem;
            display: block;
        }
        
        .views-row-1 strong {margin-top: 0;}
        
        span.views-label {
            width: 325px; 
            display: inline-block;
            font-family: $body-font-family-bold;
        }

        h2.views-label {
            width: auto;
            margin-bottom: .5rem;
            margin-top: 2rem;
        }
    }
}
