.breadcrumbs {
    display: none;
}

table {
    border: 0;
    background: transparent;
    tr, tbody {
        border: 0;
        background: transparent !important;
        td {
            border: 0;
            background: transparent;
        }
    }
}

.section-portal, .section-tags, .views-page, .page-user {
    .inner {
        width: 100%;
    }
    .breadcrumbs {
        display: block;
    }
    &.home-portal .breadcrumbs {
        display: none;
    }
    .cols-0 {
        td, .td {
            display: inline-block;
        }
    }
    .cols-5, .cols-6, .cols-7 {
        td, .td {
            font-size: 12px;
        }
    }
    td, .td {
        display: table-cell;
    }
    .l-main .button, .l-main button {
        @include button($button-tny);
        background-color: $pum-color-pumnet;
        border-color: $pum-color-pumnet;
    }
    .webform-progressbar {
        .webform-progressbar-page.completed, .webform-progressbar-page.current, .webform-progressbar-inner {
            background-color: $pum-color-pumnet;
        }
    }
    .main-menu {
        display: none !important;
    }

    .sub-menu ul, .sub-menu .item-list ul {
        border-color: $pum-color-pumnet;
        li a {
            border-color: $pum-color-pumnet;
        }
    }

    a {
        color: $pum-color-pumnet;
    }
    .l-banner {
        border-color: $pum-color-pumnet !important;
        margin-bottom: 35px;
    }
    .panel-pane table, .all-topics table {width: 100%;}
    .panel-pane {margin-bottom: 3rem;}
    .panel-pane.pane-no-margin {margin: 0;}

    ////////
    .pane-views {
        h2.pane-title {
            font-size: 18px;
            padding: 8px 0 8px 40px;
        }
        &.pane-pum-portal-latest-forum-topics h2.pane-title, &.pane-my-latest-forum-topics-test h2.pane-title {background: transparent url(../images/icon-portal-forum-30x30.png) left center no-repeat;}
        &.pane-latest-portal-news h2.pane-title, &.pane-portal-my-latest-news h2.pane-title {background: transparent url(../images/icon-portal-news-30x30.png) left center no-repeat;}
        &.pane-latest-portal-blogs h2.pane-title, &.pane-my-blog h2.pane-title {background: transparent url(../images/icon-portal-blog-30x30.png) left center no-repeat;}
        &.pane-latest-portal-documents h2.pane-title, &.pane-my-documents h2.pane-title {background: transparent url(../images/icon-portal-library-30x30.png) left center no-repeat;}
    } // pane-views

    &.page-portal-general-communities {
        .pane-views {
            h2.pane-title {
                font-size: 3.14286rem;
                padding: 0;
            }
        } // pane-views
    }

    .main .view-header a, .main .view-empty a, .main .add-button a {
        @include button($button-tny);
        font-family: $rounded-font-300;
        background: $pum-color-primary;
        margin-bottom: 1rem;
    }

    .more-link a {
        @include button($button-tny);
        background: $pum-color-pumnet;
    }

    .group-tags {
        padding: 1rem;
        border: 1px solid #ddd;
        margin-top: 10rem;
    }

    .view-id-portal_add_private_taxonomy {
        .views-exposed-form {
            float: none;
            width: 100%;
            display: block;
            left: 0;
        }
        .view-content table {width: 100%;}
    }

    &.two-col-panel {
        tr.sticky {
            background-image: url(../images/icon-pin.png);
            background-repeat: no-repeat;
            background-position: 95% center;
        }
        td {
            overflow: hidden;
            font-size: .9rem;
            height: 54px;
        }
        .view-pum-portal-latest-forum-topics {
            .views-field-display-name {
                width: 30%;
            }
            .views-field-title { //inclusief date
                width: 65%;
                color: #999;
                font-size: .8rem;
                a {
                    font-size: .9rem;
                }
            }
        }
        .view-id-latest_portal_blogs {
            .views-field-display-name {
                width: 30%;
            }
            .views-field-title { //inclusief date
                width: 65%;
                color: #999;
                font-size: .8rem;
                a {
                    font-size: .9rem;
                }
            }
        }
        .view-id-latest_portal_news {
            .views-field-title {
                width: 100%;
                color: #999;
                font-size: .8rem;
                a {
                    font-size: .9rem;
                }
            }
        }
        .view-id-latest_portal_documents {
            .views-field-field-document-file {
                width: 55%;
            }
            .views-field-title {
                width: 43%;
            }
        }
    } // two-col-panel

    .all-topics {
        &.view-id-latest_portal_news {
            .views-field-created {
                width: 15%;
                color: #999;
                font-size: .8rem;
            }
            .views-field-title {
                width: 70%;
            }
            .views-field-comment-count {
                width: 5%;
            }
            /* excluded from display
            .views-field-term-node-tid {
                width: 35%;
            }
            */
        }
        &.view-id-pum_portal_latest_forum_topics {
            .views-field-php {
                width: 5%;
            }
            .views-field-created {
                width: 15%;
            }
            .views-field-title {
                width: 65%;
            }
            .views-field-comment-count {
                width: 5%;
            }
            /* excluded from display
            .views-field-term-node-tid {
                width: 35%;
            }
            */
        }
        &.view-id-latest_portal_blogs, &.view-id-my_blog {
            .views-field-php {
                width: 20%;
            }
            .views-field-title {
                width: 60%;
                color: #999;
                font-size: .8rem;
                a {
                    font-size: 1.1rem;
                    margin-right: 1rem;
                }
            }
            .views-field-field-blog-image {
                width: 20%;
            }
            /* excluded from display
            .views-field-term-node-tid {
                width: 35%;
            }
            */
        }
        &.view-id-latest_portal_documents  {
            .views-field-field-document-file {
                width: 55%;
                overflow: hidden;
            }
            .views-field-title {
                width: 45%;
            }
            /* excluded from display
            .views-field-term-node-tid {
                width: 35%;
            }
            */
        }

        .views-field-term-node-tid {
            li {
                list-style: none;
                display: inline-block;
                margin: 0 5px 5px 0;
                padding: 0;
                a {
                    font-family: $rounded-font-300;
                    font-size: .8rem;
                    text-transform: lowercase;
                    padding: 3px;
                    border: 1px solid $pum-color-expert;
                    display: inline-block;
                    background: #fff;
                }
            }
        }

        .views-exposed-form {
            float: none;
            width: 100%;
            display: block;
            left: 0;
            button {
                margin-top: 1.3rem;
                padding: .75rem 1rem;
                background-color: $pum-color-pumnet;
                border-color: $pum-color-pumnet;
            }
        }
    } // all-topics

    .field-name-submitted-by, .posted  {
        padding: .75rem;
        background: #eee;
        border: 1px solid #ddd;
        margin-bottom: 50px;
        display: inline-block;
    }

    .field-type-file {
        padding: 10px;
        display: block;
        background: $pum-color-pumnet;
        margin-bottom: 50px;
        a {
            color: #fff;
        }
    }

    .view-id-portal_countries {
        ul {
            -moz-column-count: 4;
            -moz-column-gap: 20px;
            -webkit-column-count: 4;
            -webkit-column-gap: 20px;
            column-count: 4;
            column-gap: 20px;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    .field-type-taxonomy-term-reference {
        h2 {
            font-size: 1rem;
            display: inline-block;
            font-family: $body-font-family;
            position: relative;
            top: 8px;
            width: 200px;
        }

        ul.links {
            clear: both;
            display: inline-block;
            vertical-align: top;
            li {
                float: left;
                margin-right: 1rem;
                list-style: none;
                a {
                    font-family: $rounded-font-300;
                    font-size: .9rem;
                    text-transform: lowercase;
                    padding: 3px;
                    border: 1px solid $pum-color-expert;
                    display: inline-block;
                    background: #fff;
                }
            }
        } // ./ ul.links
    } // ./ field-type-taxonomy-term-reference

    h2.block-title {
        font-size: 1.5rem;
        color: $pum-color-primary;
    }

    // Portal directory (smoelenboek)

    .view-id-pum_portal_directory {
        .views-exposed-form {
            float: none;
            width: 100%;
            left: 0;
            button {
                margin-top: 1.5rem;
                padding: .6rem;
            }
        }
        table {
            width: 100%;
        }
        td {
            padding-left: 0;
            padding-right: 10px;
            img {
                width: 120px;
                height: auto;
            }
            .views-field-mail {
                display: inline-block;
                width: 100px;
                overflow: hidden;
            }
        }
    }

    .view-portal-my-communities {
        .views-field {
            padding: .5rem 0;
            border-bottom: 1px solid #ededed;
            .views-label {display: inline-block; width: 125px;}
            .field-content {display: inline-block;}
        }
    }

    .flag-outer a {
        @include button();
        margin-top: 1.5rem;
    }

    .view-pum-portal-blog-subscribe {
        .views-field-ops a {
            @include button();
            margin-top: 1rem;
        }
    }

    .field-name-field-document-file {
        table {
            width: 100%;
            span.file {
                border: 1px solid $pum-color-pumnet;
                padding: 5px;
            }
        }
    }

    .block-pum-portal-custom-pum-term-subscription {
        label {
            width: 77px;
        }
        input[type="checkbox"] {
            margin: 0;
            vertical-align: top;
        }
    }

    .view-project-details-for-expert- {
        .views-field {
            margin-bottom: 2rem;
            &.views-field-start-date {
                margin-bottom: 0;
            }
            h3 {
                margin-bottom: .5rem;
                font-size: 1.1rem;
                font-family: $body-font-family-bold;
            }
        }
    }
    .view-id-expert_customer_info {
        table {
            width: 100%;
            td {
                width: 900px;
                .views-field {
                    padding: 3px 0;
                    span.views-label {
                        font-family: $body-font-family-bold;
                        display: inline-block;
                        width: 225px;
                        margin-right: 20px;
                        vertical-align: top;
                    }
                    span.field-content {
                        width: 350px;
                        vertical-align: top;
                        display: inline-block;
                    }
                    h2.views-label {
                        font-family: $body-font-family-bold;
                        font-size: 1rem;
                        width: auto;
                    }
                }
                table {
                    width: 810px;
                }
                .views-row {
                    width: 810px;
                }
            }
        }
    }
} // ./ section-portal

form ul.token-input-list {
    height: 38px !important;
    input {
        outline: none !important;
        box-shadow: none !important;
        background: #fff !important;
    }
}

code.help div {
    background: #fff;
    border: 1px solid $pum-color-pumnet;
    color: #000;
    font-family: $body-font-family;
    font-weight: normal;
    min-width: 250px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,.25);
    padding: 10px 25px 10px 10px;
    z-index: 9;
    span.close {
        text-indent: -9999px;
        display: block;
        width: 20px;
        height: 20px;
        background: transparent url(../images/icon-close.png) left top no-repeat;
        right: 5px;
        top: 5px;
    }
}

.page-user {
    #crm-container {
        .crm-section {
            border-bottom: 1px solid #ededed;
            .label {
                background: transparent;
                font-size: .9rem;
                font-family: $body-font-family-bold;
                text-align: left;
                color: #000;
                width: 20%;
            }
        }
    }
    #user-page-contact {
        display: block;
        margin-bottom: .75rem;
    }
}

.page-merci-reservationstoday {
    .l-topbar, .breadcrumbs {
        display: none !important;
    }
    .view-id-merci_today {
        .auto-refresh {
            display: none;
        }
        table {
            width: 100%;
        }
    }
    footer {
        border: 0 !important;
    }
}

.page-portal-reservationstoday {
    table {
        width: 100%;
    }
}
