.views-responsive-grid {
    .views-row {
        border-bottom: 3px solid #ccc;
        margin-bottom: 20px;
    }
    .views-field {
        padding: 5px 0;
        border-bottom: 1px solid #eee;
    }
    .views-label {
        padding: 3px;
        background: #666;
        margin-right: 30px;
        color: #fff;
    }
}
