.sharethis {
	position: absolute;
	z-index: 20;
	right: 10px;
	top: 65px;
	@media #{$medium-up} {
		position: fixed;
		left: 0;
		right: auto;
		top: 225px;
	}
	a {
		display: block;
		width: 35px;
		height: 35px;
		background: #ccc;
		margin-bottom: 1px;
		cursor: pointer;
		text-indent: -9999px;
		&.fb {
			background: transparent url(../images/icon-fb-sharethis.png) left top no-repeat;
		}
		&.tw {
			background: transparent url(../images/icon-tw-sharethis.png) left top no-repeat;
		}
		&.li {
			background: transparent url(../images/icon-li-sharethis.png) left top no-repeat;
		}
		&.go {
			background: transparent url(../images/icon-go-sharethis.png) left top no-repeat;
		}
	}
}
