@media #{$small-only} {
    .sector-icons {
        .view {text-align: center;}
    }

    .switch-buttons {
        display: block;
        border-top: 1px solid $pum-color-dark;
        
        p {margin: 0;}
        
        a.switch {
            display: inline-block;
            width: 50%;
            text-align: center;
            font-size: 1.2rem;
            color: $body-font-color;
        }
    }
} // ./ small-only

@media #{$small-up} {
    .l-banner.sector-view .inner-content {height: auto;}

    .switch-buttons {
        position: absolute;
        right: 15%;
        margin-top: 15px;
        z-index: 99;
    
        a {
            display: inline-block;
            padding: 0 .5rem 0 2rem;
            background: #fff;
            border: 1px solid $pum-color-dark;
            font-family: $rounded-font-100;
            color: $pum-color-dark;
            font-size: .9rem;
            &.icon {
                background: #fff url(../images/icon-switch-icon-normal.png) 5px center no-repeat;
                &:hover {
                    background: #000 url(../images/icon-switch-icon-hover.png) 5px center no-repeat;
                    color: #fff;
                }
            }
            &.list {
                background: #fff url(../images/icon-switch-list-normal.png) 5px center no-repeat;
                &:hover {
                    background: #000 url(../images/icon-switch-list-hover.png) 5px center no-repeat;
                    color: #fff;
                }
            }
        }
    } // ./ switch-buttons
    
    .country-list {
        width: 100%;
        margin: 0 auto;
        position: relative;
        
        .cc-label {
            font-family: $rounded-font-700;
            border-bottom: 1px solid $pum-color-dark;
            display: block;
        }
        
        a {
            display: block;
            padding: .25rem;
            font-family: $rounded-font-300;
            color: $body-font-color;
            cursor: pointer;
            
            &:hover {font-family: $rounded-font-700;}
        }
        
        .continent {
            display: block;
            padding: .25rem;
            font-family: $rounded-font-300;
            color: $body-font-color;
            cursor: pointer;
            position: relative;
            left: 0;
            z-index: 5;            
            
            &:hover {font-family: $rounded-font-700;}
        }
        
        .list-per-continent {
            position: relative;
            left: 0;
            top: 0;
            z-index: 6;
        }
    } // ./ country-list
    
    .sector-icons {
        width: 100%;
        margin: 0 auto;
    
        .group {
            display: inline-block;
            width: 100px;
            height: 100px;
            
            .title {display: none;}
            
            .all-views-row {
                display: none;
                position: absolute;
                background: #fff;
                padding: 0 3rem 1rem 1rem;
                box-shadow: 0px 0px 10px rgba(0,0,0,.5);
                z-index: 20;

                img {display: none;}
                .title {
                    display: block;
                    a {
                        font-family: $rounded-font-700;
                        color: $body-font-color;
                        padding: 1rem 0;
                        display: block;
                        font-size: 1.1rem;
                    }
                }
                
                .close-popup {
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: transparent url(../images/icons/icon-close.png) center center no-repeat;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    cursor: pointer;
                }
                
                .views-row {
	                a {
	                    color: $body-font-color;
	                    font-family: $rounded-font-300;
	                    padding: .75rem 0;
	                    display: block;
	                    border-bottom: 1px solid $pum-color-dark;
	                }
	                
	                &.views-row-last {
	                   a {border: 0;}
	                }
                } // ./views-row
                
            }
            
        } // ./ group
    } // ./ sector-icons (all circles)
    
    .sector-list {
        width: 960px;
        margin: 0 auto;
        position: relative;
        
        a {
            display: block;
            padding: .25rem;
            font-family: $rounded-font-300;
            color: $body-font-color;
            cursor: pointer;
            
            &:hover {font-family: $rounded-font-700;}
        }
        
        .sector {
            display: block;
            padding: .25rem;
            font-family: $rounded-font-300;
            color: $body-font-color;
            cursor: pointer;
            position: relative;
            left: 0;
            z-index: 5;
            
            &:hover {font-family: $rounded-font-700;}
        }
        
        .list-per-sector {
            position: relative;
            left: 0;
            top: 0;
            z-index: 6;
        }
    } // ./ sector-list
} // ./ small-up

@media #{$medium-up} {
    .country-list {
        width: 960px;
        margin: 4rem auto 2rem auto; 
        
        .view-content {margin-top: 1rem;}
        
        .continent-label {
            width: 35%;
        }
        
        .country-label {
            position: absolute;
            left: 40%;
            margin-top: -15px;
            width: 60%;
        }   
        
        .list-per-continent {
            @extend .country-label;
            margin-top: 2rem;
        }
    }

    .sector-icons {
        width: 960px;
        margin: 4rem auto 0 auto;
    }
    
    .sector-list {
        width: 960px;
        margin: 4rem auto 2rem auto; 
        
        .view-content {margin-top: 1rem;}
        
        .continent-label {
            width: 35%;
        }
        
        .country-label {
            position: absolute;
            left: 40%;
            margin-top: -15px;
            width: 60%;
        }   
        
        .list-per-continent {
            @extend .country-label;
            margin-top: 2rem;
        }
        
        .list-per-sector {
            position: absolute;
            left: 40%;
        }
        
    } // ./  sector-list

} // ./ meidum-up

@media #{$xlarge-up} {
    .country-list, .sector-icons, .sector-list {width: 1200px;}
}




