@media #{$small-up} {

} // ./ small-up

@media #{$medium-up} {
    aside.sidebar-second {
        .inner {
            width: 183px;
        }

    } // ./ aside.sidebar-second

} // ./ medium-up

@media #{$large-up} {
    aside.sidebar-second {
        .inner {
            width: 224px;
        }
    } // ./ aside.sidebar-second
} // ./ large-up

@media #{$xlarge-up} {
    aside.sidebar-second {
        .inner {
            width: 285px;
        }
    } // ./ aside.sidebar-second
} // ./ xlarge-up

aside.sidebar-second {
  .block-pum-portal-custom-pum-emergency-button {
    display: block;
  }
  .block-pum-portal-custom-pum-emergency-button .pum_emergency a{
    padding: 12px 12px 10px 12px;
    background-color: $pum-color-primary;
    background-image: url('../images/icons/icon-handclick.png');
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: flex;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .pum_emergency {
    display: flex;
    width: 100%;
  }
}