@media #{$small-only} {
    .main .zf-1col, h1#page-title, .l-undermain {
        padding-left: 1.07143rem;
        padding-right: 1.07143rem;
    }
} // ./ small-only

@media #{$small-up} {
    #ccc-icon.ccc-triangle {
        display: block !important;
        button {
            margin: 0;
        }
    }
} // ./ small-up

@media #{$medium-up} {
    .views-page {
        .l-main {
            .inner {width: 100%;}
        }
    }

    .l-main {
        .inner {
            width: 506px;
        }
    } // ./ l-main
} // ./ medium-up

@media #{$large-up} {
    .l-main {
        .inner {
            width: 620px;
        }
    } // ./ l-main
} // ./ large-up

@media #{$xlarge-up} {
    .l-main {
        .inner {
            width: 792px;
        }
    } // ./ l-main

    .title {
      clear: right;
      width: auto;
    }
    .share-this-article {
      width: auto;
      float:right;
      clear: left;
      text-align: right;
      margin-top: -5px;
      a {
        display: inline-block;
        margin-bottom: 1px;
        cursor: pointer;
        text-indent: -9999px;
        margin-right: 5px;
        float:right;

        &.fb {
          background: transparent url(../images/icon-socialmedia.png) 0 0 no-repeat;
          width: 35px;
          height: 35px;
        }
        &.tw {
          background: transparent url(../images/icon-socialmedia.png) -35px 0 no-repeat;
          width: 35px;
          height: 35px;
        }
        &.li {
          background: transparent url(../images/icon-socialmedia.png) -70px 0 no-repeat;
          width: 35px;
          height: 35px;
        }
        &.in {
          background: transparent url(../images/icon-socialmedia.png) -105px 0 no-repeat;
          width: 35px;
          height: 35px;
        }
        &.yt {
          background: transparent url(../images/icon-socialmedia.png) -140px 0 no-repeat;
          width: 35px;
          height: 35px;
        }
      }

      .contextual-links-wrapper {
        font-size: 10px;
        color: #000;
      }
    }
    .share-this-article-title {
      font-size: 12px;
      text-align: right;
      padding-right:5px;
    }
} // ./ xlarge-up
