@media #{$small-only} {
}

@media #{$small-up} {
    .top-bar, .top-bar.expanded, .top-bar.expanded .title-area, .top-bar .title-area {
        background: $pum-color-primary;
        a {
            color: #fff;
        }
        .menu-icon a {
            background: transparent url(../images/hamburger.png) center center no-repeat;
        }
        .button {
            background: #fff;
            color: $pum-color-primary;
        }
        .button.purple {
            background: $pum-color-pumnet;
            color: #fff;
        }
        .main-menu-mobile, .top-menu-left {
            ul  {
                margin: 0;
                padding: 0;
                li {
                    padding: 0;
                    margin: 0;
                    a {
                        border-bottom: 1px solid #fff;
                        padding: 5px;
                        display: block;
                    }
                }
            }
        }
    }
    .block-pum-portal-custom-socialmedia-icons {
      display: none;
    }
}

@media #{$medium-up} {
    .l-topbar {
        clear: both;
        position: relative;
        border-bottom: 1px solid $pum-color-dark;
        height: auto;
        padding-top: 5px;
        height: 45px;
        margin-bottom: 20px;
        a, select {
            font-family: $rounded-font-300;
            color: $body-font-color;
            padding: 0;
            margin: 0;
        }
        .top-left-menu {
            vertical-align: top;
            float: left;
            position: relative;
            top: 6px;
            width: 50%;
            a {
                margin-right: 25px;
                padding-bottom: 12px;

                &:hover, &.active, &.active-trail {border-bottom: 3px solid $pum-color-primary;}
            }
        } // ./ top-left-menu
        .low-bandwidth {
            float: right;
            vertical-align: top;
            width: 100px;
            padding-top: 6px;
            position: relative;
        } // ./ low-bandwidth
        .language-dropdown {
            float: right;
            vertical-align: top;
            width: 50px;
            margin-left: 15px;
            padding-top: 9px;
            position: relative;
            select {
                background: transparent url(../images/arrow-down-language.png) 25px 4px no-repeat;
                border: 0;
                outline: 0;
                margin-bottom: 10px;
                text-transform: uppercase;
                height: 100%;
                overflow: hidden;
                overflow: -moz-hidden-unscrollable;
                appearance:none;
                -moz-appearance:none; /* Firefox /
                -webkit-appearance:none; / Safari and Chrome */
            }
        } // ./ language-dropdown
        .block-search {
            float: right;
            vertical-align: top;
            width: 140px;
            padding-top: 5px;
            right: 20px;
            position: relative;
            input[type="text"] {
                height: 25px;
                background: #e5e5e5;
                box-shadow: none;
                outline: 0;
                border: 0;
                display: inline-block;
                vertical-align: top;
                width: 100%;
                padding: 0 !important;
            }

            button {
                position: absolute;
                right: 0;
                border: 0;
                padding: 0;
                margin: 0;
                background: transparent url(../images/icons/icon-search.png) center center no-repeat;
                height: 22px;
                width: 22px;
                text-indent: -9999px;
            }
        } // ./ block-search
        .pumnet-block {
            position: absolute;
            padding-top: 5px;
            right: 0;

            .button {
                padding: 0;
                height: 25px;
                padding: 0px 5px;
                background-color: #483493;

                a {
                    color: #fff;
                    font-size: .9rem;
                    font-family: $rounded-font-700;
                }
            }

            &.user-block {
                position: absolute;
                right: 0;
            }

            &.name-block {
                float: none;
                top: 50px;
                right: 0;
                position: absolute;
            }

            &.logout {
                position: relative;
                float: right;
            }

        } // ./ pumnet-block

        .block-pum-portal-custom-socialmedia-icons {
          position: relative;
          display: block;
          float: right;
          right: 40px;
        }
    }
}

@media #{$large-up} {
    .l-topbar {

    } // ./ l-topbar
} // ./ large-up

@media #{$xlarge-up} {
    .l-topbar {

    } // ./ l-topbar
} // ./ xlarge-up
