.webform-client-form {
    .form-item {
        margin-top: 0;
        input[type="text"], input[type="email"] {
            width: auto;
            max-width: 100%;
        }
        .description {
            margin: -6px 0 0 0;
            font-size: 1rem;
            color: #999;
        }
        input[type="radio"].error, input[type="checkbox"].error {
            outline: 3px solid red;
        }
        select {
            width: auto;
        }
        .newcustomer-local-rep.error {
            display: block !important;
            position: relative;
            top: -40px;
            left: -2px;
            height: 42px;
            width: 404px;
            z-index: -1;
        }
    }
    button {
        display: block;
        float: none;
        clear: both;
        .form-submit {
            display: inline-block;
        }
    }
    .webform-component-matrix {
        width: auto;
        .form-item {
            width: auto;
        }
    }
    .webform-progressbar {
        padding-bottom: 20px;
    }
    .webform-component-date {
        .webform-container-inline  {
            div.form-item {
                display: inline-block;
                min-width: 100px;
            }
        }
    }
    button, .button {
        @include button($button-tny, $primary-color,false,false,false);
        display: inline-block;
        &:hover {
            background-color: #ccc;
            color: #000;
        }
        &.radius {
            border-radius: 0;
        }
    }
    .webform-component-file {
        button {float: left;}
        .description {display: none;}
    }
}

.chosen-container {
    position: relative;
    .chosen-choices {
        padding: 10px !important;
    }
}

.binair {
    input[type="checkbox"] {
        margin-bottom: 0;
    }
}
.webform-progressbar {
    .webform-progressbar-outer {
        border-color: #999;
    }
    .webform-progressbar-page {
        border-color: #999;
    }
    .webform-progressbar-page.completed, .webform-progressbar-page.current, .webform-progressbar-inner {
        background-color: $pum-color-primary;
    }
    .webform-progressbar-page-label {
        display: inline-block;
    }
}
